.headshot {
  margin-top: 50px;
  display: inline-block;
  width: 150px;
  border-radius: 50%;
}

.bio {
  background-color: black;
  opacity: .8;
  color: white;
  padding: 50px;
  font-weight: lighter;
  letter-spacing: 1px;
  width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .bio {
    width: 90%;
    padding: 30px;
  }
}