.contact {
  background-color: black;
  opacity: .8;
  color: white;
  padding: 15px;
  font-weight: lighter;
  letter-spacing: 1px;
  width: 80%;
  margin: 0 auto;
}

.contact a {
  color: white;
}

.socialIcon {
  width: 30px;
  margin: 5px;
  opacity: .6;
}

.socialIcon:hover {
  opacity: 1;
}