.error404 {
  width: 80%;
  background-color: black;
  opacity: .8;
  color: white;
  margin: 0 auto;
  margin-top: 150px;
  padding: 30px;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

a {
  color: #7cb7de;
}

a:hover {
  color: gray;
}