@keyframes starTwinkle {
  from {opacity: .4; width: 175px; height: 175px; transform: translate(0px, 0px);}
  to {opacity: .2; width: 90px; height: 90px; transform: translate(30px, 30px);}
}

.star {
  position: fixed;
  z-index: -5;
  border-radius: 50%;
  animation-name: starTwinkle;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
